@import "helper/placeholders";
@import "helper/mixins";
@import "helper/variables";

body{
  visibility: visible;
}

.show{display:inherit;}
.hide{display:none;}

.container{
  margin-top: 4rem;

    .row{
      img{
        width:100%;
        height:50%;
      }
      h1{
        color:#fff;
      }
    }

    .introBox{
        background-image: url("../img/aberfoyle1.jpg");
        margin-top: -0.47rem;
        @include contentBoxStyling;
        min-height: calc(100vh - 56px)!important ;
    }
    .storeBox{
        background-image: url("../img/aberfoyle2.jpg");
        @include contentBoxStyling;
    }
    .aboutBox{
        background-image: url("../img/aberfoyle3.jpg");
        @include contentBoxStyling;
    }

    .modGallery{
      margin-top: -0.47rem;

      .modItem{
        width:100%;
      }

    }
    .loader{text-align: center;}


  .footer{
        background-color:$footerColor;
        height: $footerHeight;
        color:#fff;
        font-size: 1.25rem;
      }
}
