@import "helper/placeholders";
@import "helper/mixins";
@import "helper/variables";

body{
  visibility: visible;
}

.show{display:inherit;}
.hide{display:none;}

.container{
  background-color: rgba(76, 76, 76, 1.0);
  margin-top: 4rem;
    .pageTitle{
      margin-top: -0.47rem;
      color:#fff;
      font-family: $siteFont;
      font-size: 3rem;
      margin-bottom: 3rem;
    }
    .row{

      img{
        width:100%;
        height:50%;
      }
      h1{
        color:#fff;
      }
    }

    .introBox{
        background-image: url("../img/aberfoyle1.jpg");
        margin-top: -0.47rem;
        @include contentBoxStyling;
        min-height: calc(100vh - 56px)!important ;
    }
    .storeBox{
        background-image: url("../img/aberfoyle2.jpg");
        @include contentBoxStyling;
    }
    .aboutBox{
        background-image: url("../img/aberfoyle3.jpg");
        @include contentBoxStyling;
    }


    .modGallery{
      margin-top: -1.47rem;

      .modItemArea{
        width:100%;
        .modItem{
          background-size: cover;
          color:#fff;
          height: 30%;
          margin-bottom: 5rem;
          position: relative;


          .modlearnMoreBtn{
            width: 100%;
            background-color: #231f1f;
            font-size: 1.4rem;
            height: 4rem;
            padding: 1rem;
            text-align: center;

          }
          p{
            position: absolute;
            bottom:0;
          }
          h3{
            background-color: rgba(76, 76, 76, 0.3);
            height: 100%;
            margin-bottom: 0;
          }

        }
      }

    }
    .loader{text-align: center;}

    .myBtn{
      background-color: #231f1f82;
      color:#fff;
      height:4rem;
      padding-left: 7rem;
      padding-top: 1rem;
      font-size:1.3rem;
    }
    .endofResultsMessage{
      background-color: white;
      height:4rem;
      padding-left: 4rem;
      padding-top: 1rem;
      font-size:1.3rem;
    }
    .scrollToTop{
    background-color: #373535;
    height: 4rem;
    padding-left: 6rem;
    padding-top: 1rem;
    font-size: 1.3rem;
    }

  .footer{
        background-color:$footerColor;
        height: $footerHeight;
        color:#fff;
        font-size: 1.25rem;
      }
}
