@import "helper/placeholders";
@import "helper/mixins";
@import "helper/variables";


@include linkStyling;
body{
  visibility: visible;
}
nav{display: none;}



.show{display:inherit;}
.hide{display:none;}



.container{
  background-color: rgba(76, 76, 76, 1.0);
  margin-top: 4rem;
  min-width: 100%;

    .pageTitle{
      background-color: #343a408a;
      color:#fff;
      font-family: $siteFont;
      font-size: 3rem;
      margin-bottom: 3rem;
      margin-top: -0.47rem;
    }

    .row{
      img{
        width:100%;
        height:50%;
      }
      h1{
        color:#ffff;
      }
    }

    .introBox{
        background-image: url("../img/aberfoyle1.jpg");
        margin-top: -0.47rem;
        @include contentBoxStyling;
        min-height: calc(100vh - 56px)!important ;
    }
    .storeBox{
        background-image: url("../img/aberfoyle2.jpg");
        @include contentBoxStyling;
    }
    .aboutBox{
        background-image: url("../img/aberfoyle3.jpg");
        @include contentBoxStyling;
    }


    .modGallery{
      margin-top: -1.47rem;
      font-family: $siteFont;

      .modItemArea{
        text-align: center;
        width:100%;
        .modItem{
          margin-bottom: 3rem;
          padding:0.5rem;
          text-align: left;

          .statsBar{
            background-color: #3f4246;
            color: #ffffff8a;
            font-size: 10px;
            text-align: center;
          }
          .modTitle{
            background-size: cover;
            color:#fff;
            font-family: $siteFont;
            height: 30%;
            position: relative;
          }
          .modDescription{
            background-color: #3f4246;
            color: white;
            min-height: 7rem;
            padding: 10px;
          }

          .modlearnMoreBtn{
            width: 100%;
            background-color: #3f4246;
            border-top:1px solid #4c4c4c;
            color: #ffffff8a;
            font-size: 1.4rem;
            height: 4rem;
            padding: 1rem;
            text-align: center;
            user-select: none;

            &:active {
              background-color:#3f42468c;
              color:#fff;
              //margin-top:2px;
              //padding: 0;
            }

          }
            p{
              position: absolute;
              bottom:0;
            }
            h3{
              background-color: rgba(76, 76, 76, 0.3);
              height: 100%;
              margin-bottom: 0;
            }
        }
      }
      @include smallSub768{
        .modItem{

        }
      }
      @include tablet778{
        .modItem{
          width:45vw;
          display: inline-block;
        }
      }
      @include laptop1024{
        .modItem{
          width:33vw;
          display: inline-block;
        }
      }
      @include desktop1440{
        .modItem{
          width:75vw;
          display: inline-block;
        }
      }
      @include desktop1440{
        .modItem{
          width:20vw;
          display: inline-block;
        }
      }

    }
    .loader{text-align: center;}

    .myBtn{
      @include buttonStyling;
    }
    .endofResultsMessage{
      background-color: white;
      font-size:1.3rem;
      height:4rem;
    //  padding-left: 4rem;
      padding-top: 1rem;
      text-align: center;
    }
    .scrollToTop{
    background-color: #373535;
    color:white !important;
    font-size: 1.3rem;
    height: 4rem;
    //padding-left: 6rem;
    padding-top: 1rem;
    text-align: center;
    }


    //Contact Us Page
    .contactFormContainer{
      font-family: $siteFont;
      margin-top:-2rem;
      text-align: center;
        p{
          color:#fff;
          font-size: 1.3rem;
          margin: 0;
          width:100%;
        }
        input{max-width: 661px; width:100%; height:4rem;}
        textarea{max-width:100%;}

        #contactFormSubmit{
          @include buttonStyling;
          padding:0;
        }

    }
    #errorMessage{
      font-size: 1.3rem;
      color: white;
      text-align: center;
      text-decoration: underline;
    }


  .footer{
        background-color:$footerColor;
        height: $footerHeight;
        color:#fff;
        font-size: 1.25rem;
      }
}
