//Index.php
@mixin contentBoxStyling {
  min-height:$contenBoxHeight;
  background-size: cover;
  font-family: $siteFont;
  h1{
      background-color: $contentBoxBackgroundColour;
      width: 100%;
      font-size: 5rem;
      font-weight: bold;
      margin-bottom: 0;
  }
  div{
    background-color: $contentBoxBackgroundColour;
    color: #fff;
    padding:1rem;
    width:100%;

    :nth-child(2){
      float:right;
    }

    .link{
      background-color: rgba(76, 76, 76, 0.0);

    }

  }


}
//SITE WIDE
@mixin buttonStyling{
  background-color: #231f1f82;
  color:#fff;
  height:4rem;
  padding-left: 6rem;
  padding-top: 1rem;
  font-size:1.3rem;
}

@mixin linkStyling{
  a, a:hover, a:active, a:link{color:#fff; text-decoration: none;}
}

//MEDIA QUERIES
@mixin lighterBackgroundColor{
  //Make colour 50% of another color
}

@mixin smallSub778 {
  @media only screen and (max-width:777px){
    @content;

    .circles{
      display: none;
    }
  }
}
@mixin tablet778 {
  @media only screen and (min-width:778px){
    @content;
    .container{
        .modItem{
          width:45vw;
          display: inline-block;
        }
        .introBox{
          h1{font-size: 10rem;}
          div{font-size: 4rem;}
        }
        .storeBox{
          h1{
            padding-top: 17rem;
            text-align: center;
            width: 50%;
          }
          div{
            
            background-color: rgb(52, 58, 64);
            padding-top: 12rem;
            width:50%;

            a:link{padding-top: 4rem; text-align: left;}
          }
        }

        .aboutBox{
          h1{
            padding-top: 17rem;
            text-align: center;
            width: 50%;
          }
          .aboutText{
            background-color: rgb(52, 58, 64);
            //padding-top: 12rem;
            width:50%;

            a:link{padding-top: 4rem; text-align: left;}
            p{padding: 1rem;}
            img{}
          }
        }

      }
  }
}

@mixin laptop1024 {
  @media only screen and (min-width:1024px){
    @content;
    .container{
    .aboutBox{
      .aboutText{
        img{height:11rem; width:11rem;}
        }
      }
      .storeBox{font-size:1.5rem;}
    }
      .modItem{
        width:33vw;
        display: inline-block;
      }



  }
}
@mixin desktop1440 {
  @media only screen and (min-width:1440px){
    @content;
    .container{
    .aboutBox{
      .aboutText{
        img{height:19rem; width:19rem;}
        }
      }
      .storeBox{
        font-size: 2rem;
      }
    }
      .modItem{
        width:75vw;
        display: inline-block;
      }
  }
}
@mixin kkkk {
  @media only screen and (min-width:2560px){
    @content;
      .modItem{
        width:20vw;
        display: inline-block;
      }
  }
}
