//index
$contenBoxHeight: calc(100vh - 56px)!important;
$contentBoxBackgroundColour:rgba(76, 76, 76, 0.5);



$footerHeight:50vh;

//Height of Header is 360px

//Height of Div is 100vh

//End Height of Div should be 100vh - 360px

//Footer
$footerColor: fade-out(#343a40, 0.5);
